* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Arial", sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
}

.wrapper {
  background: url("images/phone-bg.png") no-repeat center center / cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 50px;
}

.logo-block {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  align-items: center;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.title {
  text-align: center;
  font-size: 54px;
  line-height: 1.2;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.title .yellow {
  color: #ffd700;
}

.quote {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.date-location {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.speakers {
  align-items: center;
  display: flex;
  justify-content: center;
}

.speakers-img {
  /* width: 100%; */
  align-items: center;
  border-radius: 10px;
  /* margin-bottom: 20px; */
}

.button {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 14px;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #ffd700;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
  z-index: 900;
  position: relative;
  margin-top: -50px;
}

.button:hover {
  background: #ffd700;
  color: #000;
}
